body{
  background-color: rgb(250, 193, 104);
}

.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ear{
  background-color: rgb(255, 247, 236);
}

.left{
  width: 200px;
  height: 500px;
  left:600px;
  top: 60px;
  border-radius: 0 100% 0 100%;
  position: absolute;
}
.right{
  width: 200px;
  height: 500px;
  right: 600px;
  top:60px;
  border-radius: 100% 0  100% 0;
  position: absolute;
}

.face{
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.eye{
  width:60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 60px;
}

.nose{
  width: 60px;
  height: 40px;
  background-color: black;
  margin-top: 40px;
  border-radius: 50%;
  z-index: 1;
}

.mouth{
  background-color: #fff;
  margin-top: 80px;
  width:80px;
  height: 55px;
  border-radius: 0 0 40px 40px;
  position: absolute;
  border-bottom: 2px solid black;
}

.m-left{
  left:172px;
}
.m-right{
  right:173px;
}