body{
  background-color: rgb(250, 193, 104);
}

.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ear{
  /* background-color: rgb(255, 247, 236); */
  background-color: #fff;
}

.left{
  width: 200px;
  height: 500px;
  left:600px;
  top: 60px;
  border-radius: 0 100% 0 100%;
  position: absolute;
  background-color: rgb(252, 232, 236);
  box-shadow: inset 50px 80px rgb(255, 247, 236);
}
.right{
  width: 200px;
  height: 500px;
  right: 600px;
  top:60px;
  border-radius: 100% 0  100% 0;
  position: absolute;
  background-color: rgb(252, 232, 236);
  box-shadow: inset -50px 80px rgb(255, 247, 236);
}

.face{
  width: 500px;
  height: 400px;
  background-color: rgb(255, 247, 236);
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.eye{
  width:60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 60px;
}

.nose{
  width: 60px;
  height: 40px;
  background-color: black;
  margin-top: 40px;
  border-radius: 50%;
  z-index: 2;
}

.mouth{
  background-color: rgb(255, 247, 236);
  margin-top: 80px;
  width:80px;
  height: 55px;
  border-radius: 0 0 40px 40px;
  position: absolute;
  border-bottom: 2px solid black;
}

.m-left{
  left:172px;
}
.m-right{
  right:173px;
}

.white{
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 253 );
  border-radius: 50%;
  margin-top: 10px;
}

.hair-1{
  background-color: rgb(255, 247, 236);
  margin-left: 55px;
  width: 200px;
  height: 10px;
  border-radius: 1% 100% 0 0;
  position: absolute;
  z-index: 1;
  border-top: 1px solid black;
}
.hair-2{
  margin-top: 10px;
  background-color: rgb(255, 247, 236);
  margin-left: 55px;
  width: 200px;
  height: 10px;
  border-radius: 1% 100% 0 0;
  position: absolute;
  z-index: 1;
  border-top: 1px solid black;
}
.hair-3{
  background-color: rgb(255, 247, 236);
  margin-left: 55px;
  margin-top: 20px;
  width: 200px;
  height: 10px;
  border-radius: 1% 100% 0 0;
  position: absolute;
  z-index: 1;
  border-top: 1px solid black;
}
.hair-4{
  background-color: rgb(255, 247, 236);
  margin-top: 30px;
  margin-right: 310px;
  width: 200px;
  height: 10px;
  border-radius: 100% 1% 0 0;
  position: absolute;
  z-index: 1;
  border-top: 1px solid black;
}
.hair-5{
  background-color: rgb(255, 247, 236);
  margin-top: 50px;
  margin-right: 310px;
  width: 200px;
  height: 10px;
  border-radius: 100% 1% 0 0;
  position: absolute;
  z-index: 1;
  border-top: 1px solid black;
}
.hair-6{
  background-color: rgb(255, 247, 236);
  margin-top: 70px;
  margin-right: 310px;
  width: 200px;
  height: 10px;
  border-radius: 100% 1% 0 0;
  position: absolute;
  z-index: 1;
  border-top: 1px solid black;
}