h1::first-letter{
  font-weight: 900;
  text-transform: capitalize;
  font-size: 100px;
}
h1{
  text-decoration: red underline dashed 3px;
}
p{
  line-height: 200%;
  letter-spacing: 2px;
  text-indent: 10px;
  text-overflow: ellipsis;
}